.nav{
height:50px;
background-color:black;
border:1px solid black;
}
.menu{
  float:right;
  height:49px;
}
.header{
height:500px;
background-color:white;
border:1px solid black;
}
.hero{
  background-image:url(../img/dock.png);
  background-size:100% 100%;
  background-repeat:no-repeat;
  color:#fff;
  height:450px;
  margin-top:25px;
}
.split{
height:400px;
background-color:purple;
border:1px solid black;
}
.info{
  height:200px;
  background-color:yellow;
  border:1px solid black;
}
.footer{
  height:100px;
  background-color:green;
  border:1px solid black;
}
