.nav{
height:50px;
background-color:black;
}
.logo-container{
  display:flex;
  justify-content:left;
  align-items:center;
}
.logo{
  height:100%;
  width:90px;
}
.menu{
  float:right;
  height:49px;
}
.header{
height:500px;
background-color:black;
border:1px solid black;
}
.hero{
  background-image:url(../img/dock.png);
  background-size:100% 100%;
  background-repeat:no-repeat;
  color:#fff;
  height:450px;
  margin-top:25px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
.split{
height:400px;
background-color:black;
border:1px solid black;
display:flex;
justify-content:space-around;
align-items:center;
}
.info{
  height:200px;
  background-color:black;
  border:1px solid black;
  display:flex;
  justify-content:center;
}
.thats-all{
  width:50%;
  height:60px;
}
.footer{
  height:100px;
  background-color:black;
  border:1px solid black;
}
.btn{
  color:white;
  background-color:black;
  border:1px solid white;
}
.btn:hover{
  color:black;
  background-color:white;
  border:1px solid black;
}
